.tmb
*.backup
*.backup
*.log
composer.lock
wp-config.php
*.az
*.bk
wp-content/litespeed/*
wp-content/debug.log
wp-content/uploads/wc-logs
wp-content/uploads/trustedlogin-logs/*
wp-content/uploads/wpo_wcpdf*
wp-content/updraft/*.gz
wp-content/updraft/*.txt
wp-content/vendor
# FREE THEMES
wp-content/themes/twentytwentyfive/
wp-content/themes/mobilo/


# FREE PLUGINS
wp-content/plugins/action-scheduler/
wp-content/plugins/adroll-for-woocommerce-stores-dev/
wp-content/plugins/advanced-database-cleaner/
wp-content/plugins/advanced-media-offloader/
wp-content/plugins/all-in-one-wp-migration/
wp-content/plugins/aryo-activity-log/
wp-content/plugins/bnfw/
wp-content/plugins/cf-images/
wp-content/plugins/classic-editor/
wp-content/plugins/cloudflare/
wp-content/plugins/codirun-codir2me-cdn/
wp-content/plugins/contact-form-7/
wp-content/plugins/dashify/
wp-content/plugins/duplicate-page/
wp-content/plugins/duplicator/
wp-content/plugins/duracelltomi-google-tag-manager/
wp-content/plugins/elementor/
wp-content/plugins/ht-mega-for-elementor/
wp-content/plugins/image-optimization/
wp-content/plugins/insert-php-code-snippet/
wp-content/plugins/intercom/
wp-content/plugins/kirki/
wp-content/plugins/litespeed-cache/
wp-content/plugins/mailchimp/
wp-content/plugins/mailchimp-for-woocommerce/
wp-content/plugins/mollie-payments-for-woocommerce/
wp-content/plugins/plugin-load-filter/
wp-content/plugins/plugin-organizer/
wp-content/plugins/quick-pagepost-redirect-plugin/
wp-content/plugins/redis-cache/
wp-content/plugins/taxjar-simplified-taxes-for-woocommerce/
wp-content/plugins/updraftplus/
wp-content/plugins/user-menus/
wp-content/plugins/woo-checkout-field-editor-pro/
wp-content/plugins/woo-multi-currency/
wp-content/plugins/woo-product-bundle/
wp-content/plugins/woo-stripe-payment/
wp-content/plugins/woocommerce/
wp-content/plugins/woocommerce-analytics/
wp-content/plugins/woocommerce-google-analytics-integration/
wp-content/plugins/woocommerce-legacy-rest-api/
wp-content/plugins/woocommerce-payments/
wp-content/plugins/woocommerce-pdf-invoices-packing-slips/
wp-content/plugins/woocommerce-services/
wp-content/plugins/wordpress-seo/
wp-content/plugins/wp-coder/
wp-content/plugins/wp-db-backup/
wp-content/plugins/wp-file-manager/
wp-content/plugins/wp-mail-logging/
wp-content/plugins/wp-mail-smtp/
